:root {
--primary-text-color: #757575;
--secondary-text-color: #212121;
--primary-background-color: #E5E5E5;
--secondary-background-color: #2F303A;
--accent-color: #2196F3;
--button-color: #fff;   
--icon-color: #000; 
}
body {
    width: 1600px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
li {
    margin: 0;  
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    width: 1600px;
}
nav {
    display: flex;
}
.nav {
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    width: 1600px;
    align-items: center;
    margin-right: 215px;
}  
.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-link {
    display: flex;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav>li:first-child {
    margin-left: 15px;
}

.nav>li:not(:first-child) {
    margin-left: 50px;
}
.nav .current {
    color: var(--accent-color);
}
.nav-link:hover, .contacts:hover, 
.nav-link:focus, .contacts:focus{
    color: var(--accent-color);
}
.logo {
    color: var(--accent-color);
}
.icon {
    display: flex;
    font-family: Raleway, sans-serif;;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--icon-color);
    align-items: center;
    margin-left: 215px;
}  
.contacts>li:last-child {
    margin-left: 50px;
}
.contact {
    font-family: Roboto;
    font-size: 14px;   
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.hero {
    background-color: var(--secondary-background-color);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--button-color);
    /* text-align: center; */
}
.title-hero {
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    /* width: 696px; */
    padding-top: 200px;
    padding-bottom: 30px;
    
}
/* button {
    text-align: center;
} */
.button {
    display: block;
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--button-color);
    margin:0 auto;
    padding: 10px 32px;
    border: 2px;
    border-radius: 4px;
}
.list-advantages {
    display: flex;
    margin-top: 94px;
    margin-left:  215px;
    /* justify-content: center; */
}
.desc-advantages {
    padding-bottom: 0;
}
.advantages {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;
    margin: 0;
}
.head-advantages {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}
.list-advantages>li:not(:last-child) {
    margin-right: 30px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: center;
    margin-top: 94px;
}
.list-work {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.list-work>li {
    margin-right: 27px;
}
.list-work :last-child {
    margin-right: 0;
}
.employee-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.employee-job {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.address {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--button-color);
}
.footer-contacts {
    font-style: normal;
    color: rgba(255,255,255,0.6); 
}
.visually-hidden {
    visibility: hidden;
    height: 0;
}
.button-filter {
    font-family: inherit;
    color: var(--secondary-text-color);
    background-color: var(--primary-background-color);
}
.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--button-color);
}
.projects {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--secondary-text-color);
}
footer > .icon {
    color: var(--button-color);
}
footer {
    background-color: var(--secondary-background-color);
}